*{
        margin: 0;
        padding: 0;
    }
    body{
        background: url('../public/medica_fazendo_coracao.jpg')no-repeat center center/cover;
        height: 100vh;
    }

    .container{
        width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    }

    .image{
        border: 0px solid white;
        height: 100px;
        width: 100px;
        border-radius: 100px;
        margin: auto;
        background: url('../public/WhatsApp\ Image\ 2025-12-09\ at\ 14.36.33.jpeg')no-repeat center top/cover;
        box-shadow: 2px 2px 30px 1px black;
    }

     .name{
         text-align: center;
         color: white;
         font-family: 'Bebas Neue', cursive;
         font-size: 33px;
     }
     .discription{
         text-align: center;
         color: white;
         font-family: 'Bebas Neue', cursive;
     }

      .link{
        text-align: center;
    height: 70px;
    width: 100%;
    background-color: #f1f3f5;
    font-family: 'Noto Sans Display', sans-serif;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 2px 1px 20px 6px #000000d1;
    opacity: 0.96;
    color: black;
    text-decoration: none;
      }
      .link:hover{
        opacity: 0.9;
      }
      .fab{
          margin: 0 0;
          color: black;
          font-size: 24px;
          margin-top: 12px;
      }
      .platform{
          color: black;
          text-decoration: none;
      }